# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Spring config
application.properties
application-*.properties

# Android (나중 대비)
local.properties
**/build/
